{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

https://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="ec-headerRole__navSP">
    <div class="ec-headerNavSP" on="tap:ec-drawerRole.toggle" role="button" tabindex="0">
        <i class="fas fa-bars"></i>
    </div>
</div>